# =====================================
# Python
# =====================================

__pycache__/
*.py[cod]
*.egg 
*.egg-info/ 
dist/ 
build/
.env  
.venv/
venv/ 
*.log 

# =====================================
# Jupyter Notebooks
# =====================================

.ipynb_checkpoints/
*.nbconvert.ipynb  

# =====================================
# Spark e Delta Lake
# =====================================

# Camadas de dados (arquitetura medalhão)
LND/
RAW/
TRS/

# Metadados do Delta Lake
*/_delta_log/
*/.delta/

artifacts/

# Checkpoints do Spark (usado em streaming)
checkpoints/
spark-warehouse/

# Arquivos temporários do Spark
*.crc
*.tmp
*.bak
*.log

# =====================================
# Sistemas Operacionais
# =====================================

.DS_Store
Thumbs.db

# =====================================
# VSCode e IDEs
# =====================================

.vscode/
.idea/
*.code-workspace

# =====================================
# Arquivos grandes ou gerados
# =====================================

*.csv
*.json
